
<style>

img{ width:100%;
  align-self:center;
}

h1{
text-align: center;
color: black;
font-family: fantasy;
}
h2{
text-align: center;
}



body{
display:block;
margin:auto;
margin-bottom: 30px;
text-align:center;
font-size: 25px;
font-family: 'Corben', cursive;
line-height:200%;
 background-image: url("background.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}



</style>
